*:before, *:after, *, ::after, ::before {box-sizing: border-box;}

body {
  padding: 0;
  margin: 0;  
  overflow: hidden;
}

/*  PAGE-CONTAINER */
page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  gap: 1rem;
  padding: 1rem;
  height: 100vh; /* native sticky page header/footer */
  overflow: hidden;
}

/*  PAGE-PANEL(S) */
page-panel {
  display: grid;
  overflow: hidden;
  border-radius: .3rem;
}

page-panel:first-of-type, /* header and footer */
page-panel:last-of-type {grid-template-columns: 1fr min-content 1fr;}

page-panel:not(:first-of-type):not(:last-of-type) {
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
}

page-panel-header,
page-panel-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
}

page-panel-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow-y: hidden;
}

page-class,
user-name,
powered-by,
app-version {padding: 1rem;}

user-name,
app-version {text-align: right;}

/* https://dev.to/kathryngrayson/you-probably-dont-need-media-queries-anymore-a4j */

/*  PANEL-LIST(S) */
panel-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

panel-list-header,
list-item {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(1rem, 1fr) );
  grid-template-rows: auto;
}

list-cell {padding: .5rem 1rem;}
