html, body {
  background: linear-gradient(#101925, #1f3949);
  background-size: cover;
  color: rgba(255,255,255,.8);
}

.logoLetters {fill: #333;}
.logoSubLetters {fill: #666;}
.seal {fill: #999;}
.logo {max-height: 3rem;}

@media (prefers-color-scheme: dark) {
  .logoLetters {fill: #CCC;}
  .logoSubLetters {fill: #999;}
  .seal {fill: #999;}
}

app-panel:first-of-type, /* header and footer */
app-panel:last-of-type,
panel-header,
panel-footer,
list-item {
  background-color: rgba(255, 255, 255, 0.02);
  transition: background-color .2s ease-in-out;
  border-radius: .2rem;
}

list-item:hover {
  background-color: rgba(102, 175, 233, 0.1);
  cursor: pointer;
}